.main {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-left: 0px;
  background-color: rgb(var(--white-color-rgb));
  transition: margin-left 0.5s ease-in-out;
  height: 90vh;
}
.inactive {
  margin-left: -290px;
}
.sideIcon {
  position: relative;
  cursor: pointer;
  top: 0;
  left: 0;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.63);
  color: rgb(var(--white-color-rgb));
  font-size: 2rem;
  margin: 110px 0px 0px -15px;
}
.sideIcon:hover {
  background-color: rgb(var(--green-color-rgb));
  border-radius: 50px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
  background-color: rgb(var(--white-color-rgb));
  border-bottom: 2px solid rgba(174, 171, 171, 0.556);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(97, 94, 94, 0.5);
  font-size: 1rem;
  left: 0;
  gap: 3rem;
  padding: 3rem 0;
  margin-top: 20px;
  width: 18rem;
  height: 84%;
}
.sidebar > a {
  border: none;
  border-radius: 5px;
  color: rgb(var(--white-color-rgb));
  background-color: rgb(var(--dark-green-color-rgb));
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  padding: 0.5rem;
}
.sidebar > a:hover {
  color: rgb(var(--black-color-rgb));
  background-color: rgb(var(--yellow-color-rgb));
}
.sidebar .primaryMenus {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 3rem 5rem;
  width: 13rem;
}
.sidebar .primaryMenus li a {
  color: rgb(var(--black-color-rgb));
  text-decoration: none;
}
.sidebar .primaryMenus li a:hover {
  color: rgb(var(--green-color-rgb));
}
.sidebar .primaryMenus .icon {
  margin-right: 1rem;
}
.sidebar .primaryMenus li ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  list-style: none;
  gap: 1rem;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

@media all and (max-width: 1024px) {
  .main {
    margin-left: 0px;
  }
  .inactive {
    margin-left: -290px;
  }
}
