.errorPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(var(--white-color-rgb));
  width: 100vw;
  height: 100vh;
}
.extendedLogo {
  stroke: rgb(var(--white-color-rgb)) !important;
  stroke-opacity: 50%;
}

.extendedLogo path {
  fill: rgb(var(--blue-color-rgb)) !important;
  fill-opacity: 100% !important;
  filter: drop-shadow(5px 5px 10px rgb(var(--black-color-rgb)));
}
.errorPage h1 {
  font-size: 5rem;
  font-weight: 1000;
  color: rgb(var(--blue-color-rgb));
}
.errorPage p {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(var(--gray-color-rgb));
}
