.item {
  display: flex;
  gap: 1rem;
  border: 2px solid rgb(var(--gray-color-rgb));
  border-radius: 5px;
  height: fit-content;
  padding: 1rem;
}
.item img {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
}
.item .detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  color: rgb(var(--black-color-rgb));
}
.item .detail .itemName {
  font-size: 32px;
  font-weight: 600;
}
.item .detail .itemPrice {
  font-size: 20px;
}
.item .detail .itemStock {
  display: flex;
  gap: 0.5rem;
  font-size: 12px;
}
.item .detail .itemBuyed {
  display: flex;
  gap: 0.5rem;
  font-size: 12px;
}
.item .detail .itemBuyed button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  color: rgb(var(--black-color-rgb));
  background-color: rgb(var(--green-color-rgb));
  border: 1px solid rgb(var(--gray-color-rgb));
  font-size: 12px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
