:root {
  --white-color-rgb: 241, 241, 241;
}
.brand {
  align-self: center;
  justify-self: center;
  margin: 0 2rem;
}
.brand a {
  text-decoration: none;
}
.brand h1 {
  margin: 0;
  font-weight: bold;
  color: rgb(var(--white-color-rgb));
}
.brand h1 span {
  color: rgb(var(--green-color-rgb));
}
