.container {
  margin: 60px auto;
  border-radius: 10px;
  background-color: rgb(var(--white-color-rgb));
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid rgba(174, 171, 171, 0.556);
  box-shadow: 0 0 20px rgba(97, 94, 94, 0.5);
}
/* header seting */
.container h1 {
  margin: 0px;
}
.container p {
  margin: 0px;
  font-size: 0.8em;
}
/* end header seting */

/* css milik profile */
.form {
  display: flex;
  flex-direction: row;
}
.input {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  margin-top: 25px;
}
.input label {
  width: 300px;
  margin-top: 10px;
}
.options {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.options label {
  display: block;
  width: 180px;
  font-weight: bold;
}
.option {
  display: flex;
  flex-direction: row;
  font-size: 0.8em;
  gap: 3rem;
}
.btn {
  margin-left: 386px;
}
.btn .btnSubmit {
  background-color: rgb(var(--green-color-rgb));
  border-radius: 5px;
  border-style: none;
  height: 30px;
}
/* end css milik profile  */

/* css milik avatar */
.avatar {
  display: flex;
  flex-direction: column;
  margin: 10px auto auto 100px;
}
.gambar {
  margin: 30px auto;
  width: 150px;
  height: 150px;
  border-radius: 100%;
}
.image {
  margin: 0px auto;
  width: 300px;
  height: 300px;
  border-radius: 100px;
  border: 3px solid rgb(var(--white-color-rgb));
}
.avatar .file {
  margin: auto auto auto 70px;
  height: 25px;
}
.avatar p {
  text-align: center;
  margin-bottom: 0px;
}
/* end css milik avatar */

/* media query */
@media only screen and (min-width: 368px) {
  .form {
    display: flex;
    flex-direction: column-reverse;
    margin: 20px;
    padding-bottom: 30px;
  }
  .avatar {
    margin: 0px auto 10px auto;
    align-content: center;
  }
  .header {
    margin: 20px 20px 0px 20px;
  }
  .btn {
    margin-top: 40px;
  }
}
@media only screen and (min-width: 1000px) {
  .form {
    display: flex;
    flex-direction: row;
  }
  .avatar {
    margin: 10px auto auto 100px;
  }
  .container {
    padding: 50px;
  }
}
