.container{
    margin: 60px auto;
    /* padding: 50px; */
    border-radius: 10px;
    background: #dad5d5;
    display: flex;
    flex-direction: column;
}
/* header seting */
.container h1{
    margin: 0px;
}
.container p{
    margin: 0px;
    font-size: 0.8em;
}
/* end header seting */

/* css milik profile */
.form {
    display: flex;
    flex-direction: row;
}
.input{
    display: flex;
    flex-direction: row;
    background-color: transparent;
    margin-top: 25px;
}
.input label{
    width: 300px;
    margin-top: 10px;
}
.options{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.options label{
    display: block;
    width: 180px;
    font-weight: bold;
}
.option {
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
    gap: 3rem;
}
.btn{
    margin-left: 386px;
}
.btn .btnSubmit  {
    background-color: rgb(var(--green-color-rgb));
    border-radius: 5px;
    border-style: none;
    height: 30px;
}
/* .btn .btnSubmit:hover{
    background-color: transparent;
} */
/* end css milik profile  */

/* css milik avatar */
.avatar{
    display: flex;
    flex-direction: column;
    margin:  10px auto auto 100px;
}
.gambar{
    background-image: url('E:\Semester 4 Informatika\Pemrograman WEB\fix_fp\MarkeTani_web\public\user.png');
    background-size: cover;
    margin: 30px auto ;
    width: 150px;
    height: 150px;
    border-radius: 100%;
}
.avatar .file{
    margin:  auto auto auto 70px ;
    height: 25px;
}
.avatar p{
    text-align: center;
    margin-bottom: 0px;
}
/* end css milik avatar */

/* media query */
@media only screen and (min-width:480px ) {

    .form{
        display: flex;
        flex-direction: column-reverse;
        margin: 20px;
        padding-bottom: 30px;
        /* margin-bottom: 40px; */
    }
    .avatar{
        margin: 0px auto 10px auto;
        align-content: center;
    }
    .header{
        margin: 20px 20px 0px 20px;
    }
    .btn{
        margin-top: 40px;
    }
}
@media only screen and (min-width: 1000px) {
    .form{
        display: flex;
        flex-direction: row;
    }
    .avatar{
        margin:  10px auto auto 100px;
    }
    .container{
        padding: 50px;
    }
}