.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: rgb(var(--white-color-rgb));
  border-radius: 10px;
  filter: drop-shadow(2px 2px 5px rgb(var(--gray-color-rgb)));
  padding: 1rem 2rem;
  height: fit-content;
  width: fit-content;
}

.register h1 {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(var(--black-color-rgb));
}

.register .form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.register .form button {
  background-color: rgb(var(--dark-green-color-rgb));
  border: none;
  border-radius: 5px;
  color: rgb(var(--white-color-rgb));
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  outline: 0;
  padding: 0.5rem;
  width: 100%;
}

.register .form button:hover {
  background-color: rgb(var(--yellow-color-rgb));
  color: rgb(var(--black-color-rgb));
}

.register .form .input {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgb(var(--white-color-rgb));
  color: rgb(var(--black-color-rgb));
  font-size: 1rem;
  gap: 0.5rem;
  margin: 0.5rem 0;
  width: 100%;
  box-sizing: border-box;
}

.register .form .input label {
  font-weight: 700;
}

.register .form .input input {
  outline-color: rgb(var(--dark-green-color-rgb));
  border: 1px solid rgb(var(--gray-color-rgb));
  border-radius: 5px;
  color: rgb(var(--black-color-rgb));
  background-color: rgb(var(--white-color-rgb));
  font-weight: 400;
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
}

.register p {
  display: flex;
  gap: 0.3rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(var(--black-color-rgb));
}

.register p a {
  color: rgb(var(--dark-green-color-rgb));
  font-weight: 700;
}
