h1{
    margin-left: 30px;
}
article{
    width:800px;;
    height:400px;
    background:rgb(255, 255, 255);
    box-shadow: 1px 1px 3px #000000;
    border: 10px#000000;
    border-radius: 20px;
    margin-left: 30px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
img{
    height: 340px;
    width: 340px;
    margin: 30px;
}
h2{
    font-size: 40px;
}
button{
    width: 100px;
    height: 30px;
}
p{
    font-size: 30px;
}
tambah{
    position: relative;
    bottom: 1rem;
    right: 1rem;
}